<ion-view view-title="<i class='icon custom-Icon2 ion-android-contacts'></i><span class='bar-tilte'>About us</span>" hide-back-button="true" align-title="left" class="bgblack" >
    <ion-content has-header="true" has-tabs="true" padding="true">
        <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" pager-click="pagerClick($index)">
            <ion-slide style="padding-top:0px">
                <div class="" style="position: relative; " ng-style ="{height: contentH-40 + 'px'}">
                    <div class="logo-center">
                        <img src="img/signup_logo.png"/>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </div>
                    <div><a class="button button-clear button-calm" ui-sref="menu.home" >Skip</a></div>
                </div>
            </ion-slide>

            <ion-slide style="padding-top:0px">
                <div class="" style="position: relative; " ng-style ="{height: contentH-40 + 'px'}">
                    <div class="tour1" style="width: 100%;" ng-style ="{height: contentH-40 + 'px'}"></div>
                </div>
            </ion-slide>
            <ion-slide style="padding-top:0px">
                <div class="" style="position: relative; " ng-style ="{height: contentH-40 + 'px'}">
                    <div class="tour2" style="width: 100%;" ng-style ="{height: contentH-40 + 'px'}"></div>
                </div>
            </ion-slide>
            <ion-slide style="padding-top:0px">
                <div class="" style="position: relative; " ng-style ="{height: contentH-40 + 'px'}">
                    <div class="tour3" style="width: 100%;" ng-style ="{height: contentH-40 + 'px'}"></div>
                </div>
            </ion-slide>
            <ion-slide style="padding-top:0px">
                <div class="" style="position: relative; " ng-style ="{height: contentH-40 + 'px'}">
                    <div class="tour4" style="width: 100%;" ng-style ="{height: contentH-40 + 'px'}"></div>
                </div>
            </ion-slide>
            <ion-slide style="padding-top:0px">
                <div class="" style="position: relative; " ng-style ="{height: contentH-40 + 'px'}">
                    <div class="tour5" style="width: 100%;" ng-style ="{height: contentH-40 + 'px'}"></div>
                </div>
            </ion-slide>
            <ion-slide style="padding-top:0px">
                <div class="" style="position: relative; " ng-style ="{height: contentH-40 + 'px'}">
                    <div class="tour6" style="width: 100%;" ng-style ="{height: contentH-40 + 'px'}"></div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
