<ion-view view-title="<i class='icon custom-Icon1 custom-House'></i><span class='bar-tilte'>Home</span>" hide-back-button="true" align-title="left" class="bgblack" >
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="home">
            <div class="cm-container">
                <div class="cm-large-circle">
                    <ul class="cm-small-circle">
                        <li ui-sref-active="active">
                            <a ng-click="subService('House')" class="button button-transferant">
                                <i class="icon custom-Icon custom-House"></i>
                                <br/>
                                <span>House</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ng-click="subService('Office')" class="button button-transferant">
                                <i class="icon custom-Icon custom-Office"></i>
                                <br/>
                                <span>Office</span>
                            </a>

                        </li>
                        <li ui-sref-active="active">
                            <a  ng-click="subService('Security')" class="button button-transferant">
                                <i class="icon custom-Icon custom-Security"></i><br/>Security</a>

                        </li>
                        <li ui-sref-active="active">
                            <a ng-click="subService('Citizen')" class="button button-transferant">
                                <i class="icon custom-Icon custom-Citizen"></i><br/>Citizen</a>

                        </li>
                        <li ui-sref-active="active">
                            <a ng-click="subService('Medical')" class="button button-transferant">
                                <i class="icon custom-Icon custom-Medical"></i><br/>Medical</a>

                        </li>
                        <li ui-sref-active="active">
                            <a ng-click="subService('Recreation')" class="button button-transferant">
                                <i class="icon custom-Icon custom-Recreation"></i><br/>Recreation</a>

                        </li>
                        <div class="logo"></div>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
