
<ion-view cache-view="false" view-title="Login" hide-back-button="true" class="themeBgColor1">
    <ion-nav-bar class="bar-assertive" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-locked"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-header="true" has-tabs="true" padding="false" scrollbar-y="">
        <div style="position: relative">
        <div class="logo-center">
            <img src="img/white_logo.png" class="logoWidth"/>
        </div>
        </div>
    <form >
      <div class="list" style="padding: 2%">
       <label class="item item-input item-transpert">
          <input type="text" placeholder="Email" ng-model="loginData.useremail">
        </label>
        <label class="item item-input item-transpert">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
        <label class="item item-normal" style="display: block;">
            <button ui-sref="forgotpass" class="button button-clear">Forgot password?</button>
        </label>
        <div class="button-bar">
          <button class="button button-block button-assertive" ng-click="tryLogin()" type="submit">Login</button>
          <button class="button button-block button-dark" type="button" ng-click="goto('signup')">Register</button>
        </div>

      </div>
    </form>
  </ion-content>
</ion-view>
