<ion-view   view-title="<i class='icon custom-Icon2 ion-android-contact'></i><span class='bar-tilte'>Reset Password</span>" hide-back-button="false" align-title="left" class="themeBgColor1" >
    <ion-content  has-header="true" has-tabs="true" padding="true">
        <div style="position: relative">
            <div class="logo-center">
                <img src="img/white_logo.png" class="logoWidth"/>
            </div>
        </div>
        <form name="resetpassword" novalidate>

            <div class="list">
                <label class="item item-input item-transpert">
                    <input type="password" placeholder="Old Password" name="oldpassword" ng-model="profile.oldpassword" >
                </label>
                </label>
                <label class="item item-input item-transpert">
                    <input type="password" name="profile.password" placeholder="New Password" ng-model="profile.password"  required>
                </label>
                <label class="item item-input item-transpert">
                    <input type="password" name="profile.password_confirm" placeholder="Confirm Password" ng-model="profile.password_confirm"  validate-Equals="profile.password">
                </label>
                <p class="help-block" ng-show="resetpassword.profile.password_confirm.$dirty && resetpassword.profile.password_confirm.$error.validateEquals">please match the passwords</p>
            </div>
            <div class="button-bar">
                <button class="button button-full button-assertive" type="submit" ng-click="updatePassword()">Update</button>
                <button ui-sref="menu.profile" class="button button-full button-assertive">Back</button>
            </div>
        </form>

    </ion-content>
</ion-view>
