<ion-view cache-view="false" title="<i class='icon custom-Icon1 custom-{{service.category}}'></i><span class='bar-tilte'>{{service.category}} Services</span>" hide-back-button="false" align-title="left" class="themeBgColor1" >
    <ion-content has-header="true" has-tabs="true" padding="true">

       <ul class="listService">
            <li ng-repeat="list in service.list"><a class="active-{{list.status}}" ng-click="gotoService('{{list.name}}','{{list.status}}')">{{list.name}} <img align="right" src="img/icon-sample.png" class="iconWidth-{{list.status}}"/> </a></li>
       </ul>
    </ion-content>
</ion-view>
