<ion-view cache-view="false" title="<i class='icon custom-Icon2 ion-help-circled'></i><span class='bar-tilte'>{{serviceName}}</span>" hide-back-button="true" align-title="left" class="bgblack" >
    <ion-content has-header="true" has-tabs="true" padding="true">

        <form ng-submit="serviceNow()"  name="servicenow" novalidate>
            <div class="list">
                <label class="item item-input item-transpert">
                    <div class="input-label">
                        Date:
                    </div>
                    <input type="date" placeholder="Date:" ng-model="cDate" name="cDate" required>
                </label>
                <label class="item item-input item-transpert">
                    <div class="input-label">
                        Time:
                    </div>
                    <input type="time" placeholder="Time:" ng-model="cDatetime" name="cDatetime" required>
                </label>
                <button class="button button-block button-outline button-calm" type="submit">Confirm</button>
            </div>
        </form>
    </ion-content>
</ion-view>
