<ion-view cache-view="false" title="<i class='icon custom-Icon2 ion-help-circled'></i><span class='bar-tilte'>{{serviceName}}</span>" hide-back-button="false" align-title="left" class="themeBgColor1" >
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div style="position: relative">
            <div class="logo-center">
                <img src="img/icon-sample.png" class="logoWidth"/>
            </div>
        </div>
        <form ng-submit="serviceNow()"  name="servicenow" novalidate>
            <div class="list">
                <label class="item item-input item-transpert">
                    <div class="input-label">
                        Date
                    </div>
                    <input type="date" placeholder="Date:" ng-model="cDate" name="cDate" required>
                </label>
                <label class="item item-input item-transpert">
                    <div class="input-label">
                        Time
                    </div>
                    <input type="time" placeholder="Time:" ng-model="cDatetime" name="cDatetime" required>
                </label>
                <button class="button button-block button-full button-assertive" type="submit">Confirm</button>
            </div>
        </form>
    </ion-content>
</ion-view>
