<ion-view cache-view="false" title="<i class='icon custom-Icon1 custom-order'><img src='{{smallIcon}}' class='navIcon' /></i><span class='bar-tilte'>{{serviceName}}</span>" hide-back-button="true" align-title="left" class="themeBgColor1" >
    <ion-content has-header="true" has-tabs="true" padding="false">
        <div class="" ng-style="{'position': 'relative','height':+contentH+'px'} ">
            <div style="position: absolute;top: 34%;left: 1%;width: 98%;">
                <h2 class="text-center customcolor">Thank You!</h2>
                <p class="text-center customcolor">your query has been registered with order id</p>
                <h3 class="text-center customcolor">{{OrderID}}</h3>
                <div class="text-center"><a class="button button-assertive" ui-sref="menu.home">Raise another request</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
